
<link href="/CSS/MyWork.css" rel="stylesheet" />


<h1> Have a look at some of our finest pieces </h1>

<body>

    <div class="gallery">
        <a target="_blank" href="/images/owl orna.jpeg">
            <img src="/images/owl orna.jpeg" alt="Owl house" />

        </a>
        <div class="Description"> owl orna.jpeg (R450) </div>
    </div>

    <div class="gallery">
        <a target="_blank" href="~/images/adwood.jpeg">
            <img src="~/images/adwood.jpeg" alt="treeArt" />
        </a>
        <div class="Description"> adwood.jpeg (R250) </div>
    </div>

    <div class="gallery">
        <a target="_blank" href="~/images/flowerbagOrna.jpg">
            <img src="~/images/flowerbagOrna.jpg" alt="Flower Bag" />
        </a>
        <div class="Description"> flowerbagOrna.jpg (R400) </div>
    </div>

    <div class="gallery">
        <a target="_blank" href="~/images/house orna.jpeg">
            <img src="~/images/house orna.jpeg" alt="house ornament" />
        </a>
        <div class="Description"> house orna.jpeg (R500) </div>
    </div>

    <br />
    <br />
    <form method="post">
                <a asp-controller="Product" asp-action="Index">Place an Order???</a>
            </button>
        </div>
    </form>





</body>

