@{
    ViewData["Title"] = "Home Page";
}

<main>
    

    <h1>Welcome to KhumaloCrafts</h1>
    <p>
        Welcome to KhumaloCrafts:
        Step into a world where craftsmanship meets creativity.Explore our curated collection
        of handcrafted wooden decorations that add a touch of warmth and elegance to any space.

        Founded by visionary entrepreneur James Khumalo, KhumaloCrafts aims to
        connect artisans worldwide with discerning customers like you. Our dream is to create
        a global platform where artisans can showcase their talent and craftsmanship while providing
        customers with unique, high-quality products.

        At KhumaloCrafts, we prioritize quality and sustainability.
        We source our materials responsibly, ensuring that every creation reflects our commitment
        to nature and tradition. Every item is meticulously crafted to perfection, ensuring that you
        receive only the finest craftsmanship.

        Browse through our diverse range of wooden decorations, from
        intricately carved figurines to elegantly designed wall art. Each piece tells a story
        of dedication, skill, and passion for woodworking.We're thrilled to have you here to explore our collection of handcrafted treasures.
        Each piece is a labor of love, created with passion and precision to bring
        warmth and charm to your home or office. From intricately carved sculptures to elegantly
        designed wall hangings, our wooden artworks celebrate the beauty of nature and
        the craftsmanship of skilled artisans. Take your time browsing through our gallery and
        discover the perfect piece to add a touch of natural elegance to your space.
        Thank you for visiting, and we hope you find something that captures your heart!

    </p>

    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<img src="~/Images/pet bond orna.jpeg" />
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <img src="~/Images/dollsOrna.jpeg" />

</main>

