@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <br />
    Effective Date: 27/05/2024
    <br />
    KhumaloCrafts ("we", "us", or "our") operates the website [www.khumalocrafts.com] (the "Site"). This Privacy Policy describes how we collect, use, and share information about you when you visit our Site or use our services.
    <br />
    1. Information We Collect
    <br />1.1 Personal Information
    We may collect personal information that you provide directly to us, such as:
    <br />
<p> - Name</p>
<p> - Email address</p>
<p> - Mailing address</p>
<p> - Phone number</p>
<p> - Payment information (Card Info) </p>
<br />
    1.2 Non-Personal Information
    We may also collect non-personal information automatically when you visit our Site, including:
<br />
    IP address
    Browser type and version
    Operating system
    Pages visited on our Site
    Time and date of visit
    Time spent on each page
    Referral source
<br /> 2. How We Use Your Information
    We use the information we collect for various purposes, including:
<br />
    To provide, operate, and maintain our Site
    To improve, personalize, and expand our Site
    To process transactions and send you related information, including purchase confirmations and invoices
    To communicate with you, including responding to your comments, questions, and requests
    To send you technical notices, updates, security alerts, and support and administrative messages
    To analyze trends, usage, and activities in connection with our Site
    To detect, prevent, and address technical issues
    To comply with legal requirements and protect our legal rights
<br />
<br />3. Sharing Your Information
    We may share your information with third parties in the following circumstances:
<br />
    With service providers who perform services on our behalf, such as payment processors, hosting providers, and email service providers
    If we are required to do so by law or in response to a legal request
    If we believe it is necessary to protect the rights, property, or safety of KhumaloCrafts, our users, or the public
    In connection with a business transaction, such as a merger, acquisition, or asset sale
<br />
<br />4. Security of Your Information
    We take reasonable measures to protect the information we collect from or about you from unauthorized access, use, or disclosure. However, no method of transmission over the Internet or electronic storage is completely secure, and we cannot guarantee absolute security.
<br />
<br />5. Your Choices
    You have choices regarding the collection and use of your information:
<br />
    Access and Update: You may access and update your personal information by contacting us.
    Opt-Out: You may opt out of receiving promotional communications from us by following the instructions in those communications or by contacting us directly.
<br />
<br />6. Cookies and Tracking Technologies
    We use cookies and similar tracking technologies to track the activity on our Site and hold certain information. Cookies are files with a small amount of data that are sent to your browser from a website and stored on your device. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Site.
<br />
<br /> 7. Third-Party Links
    Our Site may contain links to other websites that are not operated by us. If you click on a third-party link, you will be directed to that third party's site. We strongly advise you to review the privacy policy of every site you visit. We have no control over and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.
<br />
<br /> 8. Children's Privacy
    Our Site does not address anyone under the age of 13 ("Children"). We do not knowingly collect personally identifiable information from children under 13. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact us. If we become aware that we have collected personal information from children under age 13 without verification of parental consent, we take steps to remove that information from our servers.
<br />
<br />9. Changes to This Privacy Policy
    We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page. You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.
<br />
<br />10. Contact Us
    If you have any questions about this Privacy Policy, please contact us:
<br />
<br /> By email: RuhanPillay@gmail.com
<br /> By visiting this page on our website: [www.khumalocrafts.com/contact]
<br /> By phone: 0314622744
</p>
